@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Fonte: Importada Carrosel */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");

/*Fonte: Dancing Script*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    font-family: 'Open-Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 p {
    color: white;
}

:root{
    --font-white: #FFFFFF;
    --bg: #000;
    --play-green: #841ed7;
    --play-grad: #1f0f2b;
    --box-black: #121212;
    --font: 'Open Sans', sans-serif;
    --movie-width: 15.5vw;
    --movie-height: 200px;
    --arrow-width: 50px;
    --slider-py: 200px;
}

::-webkit-scrollbar {
    display: none;
}

body{
    box-sizing: inherit;
    margin: 0;
}

html {
    background-color: var(--box-black);
    box-sizing: border-box;
}

.d-none {
    display: none;
}
/*Header Section starts*/

/* NavBar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.grad{
    background: linear-gradient(to bottom, var(--play-grad), 57%, var(--box-black) 65%);
}


.move .seta {
    color: var(--font-white);
    font-weight: bolder;
    display: inline-block;
    font-size: 1.5rem;
    border: 5px solid #0000007a;
    background-color: #0202027a;
    border-radius: 50%;
    padding: 0 10px;
    height: 5%;
    margin-top: 130px;
}

.move .seta:hover {
    transition: .6s;
    background-color: #313131;
    border-color: #313131;
    cursor: pointer;
}

/*Header Section ends*/


/*Main Section Starts*/

/* Cagada Começa (NavBar) */
body {margin:0;}
        
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #2c1044;
          position: fixed;
          top: 0;
          width: 100%;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #111;
        }
        
        .active {
          background-color: #3e0255;
        }

/* Cagada Termina (NavBar) */

div.margem2 {
    background-color: #270542;
    color: #FFF;
    padding: 18px;
}
  
  div.carousel-inner .carousel-item {
      max-width: 100px;
      max-height: 100px;
  }


 .destaque{
    border-radius: 5px;
    margin: 0 1.7%;
    padding: 60px;
    background: linear-gradient(191deg, #2c1044, 41%, #000 57%);
}

 .destaque .playlist{
 margin-left: 365px;
}

/* Mudar fonte*/
 .dest-text h1{
    font-family: 'Dancing Script', cursive;
 }

 .destaque .dest-box {
    display: flex;
    gap: 1rem;
}


.destaque .dest-box .dest-text h1{
    font-size: 7rem;
    margin: 0;
    width: 570px;
    height: 250px;
}


/* Limitar Imagem*/
img {
    max-width: 100%;
    max-height: auto;
}
.dest-box{
    height: 500px;
    width: 500px;
}

.film-box{
    max-width: 200px;
    height: auto;
}
    

 .destaque .dest-box .dest-text p{
    color: white;
    margin: 0;
    padding: 20px 0;
}

.destaque .dest-box .dest-text .dest-btn{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.destaque .dest-box .dest-text .dest-btn a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    background-color: #000;
    border: 1px solid white;
    padding: 15px 50px;
    border-radius: 50px;
}

#play {
    border: none;
    background-color: var(--play-green);
}

#follow:active{
    background-color: var(--box-black)
}

.blocos {
    margin: 25px;
}

.blocos .filmes{
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.filmes{
    display: flex;
}

/* Cor da Caixa */
.blocos .filmes .film-box{
    background-color: #303030;
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
}

/* Cor do Hover*/
.blocos .filmes .film-box:hover{
    background-color: #b9b9b9;
    transition: .7s;
}

/* Cor do Texto */
.blocos .filmes .film-box p{
    margin: 16px 15px 16px 0;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blocos .filmes .film-box .play{
    margin: 16px 60px 16px 30px;
}

.blocos .filmes .film-box .play i{
    font-size: 1.2rem;
}

/*Main Section Ends*/

/*
*
* Boiler Plate stuff 
*
*********************************/
@media only screen and (max-width: 1000px) {
    :root {
      --movie-width: 25vw;
    }
}

.container {
    position: relative;
  }

.logo {
    color: red;
    font-size: 4rem;
    text-align: center;
  }
  
  /*
  *
  * THE SLIDER CONTAINER
  *
  *********************************/
  .slider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: var(--slider-py);
    padding-bottom: var(--slider-py);
  }
  
  /*
  *
  * SLIDER INDICATORS
  *
  *********************************/
.slider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: var(--slider-py);
    padding-bottom: var(--slider-py);
  }
  
  /*
  *
  * SLIDER INDICATORS
  *
  *********************************/
  .movie {
    width: var(--movie-width);
    height: var(--movie-height);
    display: inline-block;
    position: relative;
    color: white;
    padding: 0 2px;
    font-size: 0.8rem;
    transition: all 0.8s ease-in-out;
  }
  
  .movie:nth-of-type(1) {
    margin-left: var(--arrow-width);
  }
  
  .movie img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .description {
    position: absolute;
    display: none;
    z-index: 9999;
    background-color: #272727;
    width: var(--movie-width);
    margin-top: -10px;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  @media only screen and (min-width: 900px) {
    .movie:hover {
      transform: scale(1.3);
      z-index: 2;
    }
    /* Make description visible when movie is hovered */
    .movie:hover > .description {
      display: block;
    }
    .movie:hover > img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  .description__buttons-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  
  .description__text-container {
    padding: 10px;
  }
  
  .description__match {
    color: green;
  }
  
  .description__rating {
    outline: 1px solid white;
    padding: 0 3px;
    margin: 0 5px;
  }
  
  .description__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    text-align: center;
    font-size: 8px;
    margin-right: 5px;
    border-radius: 100%;
  }
  
  .description__button:hover {
    border-color: grey;
    color: grey;
    cursor: pointer;
  }
  
  .description__button:nth-of-type(5) {
    margin-left: auto;
    margin-right: 0;
  }
  
  /*
  *
  * BUTTONS
  *
  *********************************/
  .btn-nav {
    width: var(--arrow-width);
    height: var(--movie-height);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    color: white;
    top: var(--slider-py);
    z-index: 5;
    visibility: hidden;
  }
  
  #moveLeft {
    left: 0;
  }
  
  #moveRight {
    right: 0;
  }
  
  @media only screen and (max-width: 900px) {
    .btn-nav {
      display: none;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .container:hover .btn-nav,
    .container:hover .container-indicators {
      visibility: visible;
    }
  }
  